* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;

}

.btn {
  height: 3em;
  width: 6rem;
  border: 1px solid red;
  background-color: aquamarine;
}


.answer {
  color: white;
}